body {
  margin: 20px auto;
  font-family: 'Lato';
  background: hwb(281 0% 76%);
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 1.5em;
  padding: 15;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  color: hwb(0 30% 70%);
}

p {
  font-family: 'Reenie Beanie';
  font-size: 1.6rem;
  height: 6em;
  overflow: auto;
  word-break: break-word;
}

ul, li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li span {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 9em;
  width: 12em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  transform: rotate(-1deg);
  transition: transform .15s linear;
}

ul li span.rules{
  background: rgb(141, 214, 243);
}

ul li span.examples{
  background: #91e776;
  cursor: pointer;
}

ul li span.questions{
  background: rgb(224, 74, 74);
}

ul li {
  margin: 1em;
}


ul li:nth-child(even) span {
  transform: rotate(1deg);
  position: relative;
  top: 5px;

}

ul li:nth-child(3n) span {
  transform: rotate(-0.5deg);
  position: relative;
  top: -1px;
}

ul li:nth-child(5n) span {
  transform: rotate(1deg);
  position: relative;
  top: -1.5px;
}

ul li span:hover, ul li span:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  transform: scale(1.1);
  position: relative;
  z-index: 3;
}

#rules-container li {
  margin: 30px;
}
.inline-block-child {
  display: inline-block;
}

.page-container{
  margin: 1;
  padding: 1;
  background-color: hwb(0 100% 0%);
}

.card-container {
  resize: vertical;
  overflow-x: auto;
  border-radius: 0vi;
  border: #91aefd1f;
  border-style: dashed;
}

.questions-container {
  float: right;
}

.button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 1.5em;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  width: auto;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.delete {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.delete:hover {
  opacity: 1;
}
.delete:before, .delete:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}

.delete:before {
  transform: rotate(45deg);
}
.delete:after {
  transform: rotate(-45deg);
}

body {
  background-color: hsl(0, 0%, 99%);
}


